
html, body {
    background-image: url(../images/leaves.png)
}


.imgcontainer {
    position: relative;
    padding: 20px;
}

.cardTitleAlign {

    bottom: 37px;
    background-color: #4aaaa5;

}
/* #brandName {
margin-left: 288px;
padding: 20px !important;
background-color: #4aaaa5;
color: white;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 32px;
}

.movetopbar {
    padding-top: 75px;
}

.tabs {
    margin-right: 288px;
}
 */
